@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital@0;1&display=swap");

/* Basic Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1fe;
}

/* Utilities */
.container {
  width: 61%;
  margin: 0 auto;
}

.text-primary {
  font-size: 2.4rem;
  font-weight: 500;
  color: #562eff;
}
hr {
  margin-top: 3rem;
}
/* Header Section */
#header {
  background-color: #562eff;
  padding: 2rem 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-box {
  display: flex;
  align-items: center;
}
.logo-box img {
  width: 40px;
}
.logo-box span {
  font-size: 2.4rem;
  color: #fff;
  margin-left: 1.6rem;
}
.link-box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-box ul {
  list-style: none;
}
.link-box ul li {
  padding: 0 1.8rem;
}
.link-box ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

/* Main Section - Top player */

#main-content,
#course-section {
  padding: 2rem;
}

#main-content .contents,
#course-section .courses {
  background-color: #fff;
  padding: 3.3rem;
  border-radius: 0.5rem;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  margin-top: 4rem;
}

.player {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.player p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 1.8rem;
}

.player img {
  width: 56px;
}
/* Main Section - Top blog */
.top-blog h2 {
  margin: 3.3rem 0;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2.6rem;
  grid-column-gap: 2rem;
}
.blog-thumbnail img {
  width: 177px;
}

.blog {
  display: flex;
}

.blog-description {
  margin-left: 1.6rem;
}
.blog-description h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
.blog-description span,
.blog-description p {
  font-size: 1.6rem;
}

.blog-description p {
  color: #9f9f9f;
  margin-top: 0.6rem;
}

/* Course Section */

#course-section {
  font-family: "Roboto", sans-serif;
}
.latest-courses h2 {
  margin-bottom: 3.3rem;
}
.course {
  padding: 0.5rem;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.1));
  border: 1px solid #eee;
  border-radius: 5px;
}
.course img {
  width: 225px;
}

.course-name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.course-author {
  color: #ed6b4f;
  font-size: 1.46rem;
  margin-bottom: 2rem;
}
.course-description {
  margin: 2rem 0;
}
.course-rating {
  font-size: 1.46rem;
  color: #a2a2a2;
}
.course-duration {
  font-size: 1.46rem;
  color: #ff4a60;
  background-color: rgba(255, 74, 95, 0.3);
  padding: 0.2rem 0.5rem;
  border-radius: 5rem;
}

.main-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

.course-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-star .active {
  color: #ffc014;
  font-size: 1.46rem;
}
.course-star .disabled {
  color: #ddd;
  font-size: 1.46rem;
}
